<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Finder App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="seach1" class="text-center">Movie Finder</h1>
      <form action="/result" method="GET" class="justify-content-center d-flex">
        <input
          type="text"
          name="search"
          class="form-control w-25"
          placeholder="Enter movie name"
        />
        <button class=" ml-3 text-center btn btn-success">Search</button>
      </form>
    </div>
  </body>
</html>
