.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eeeeee;
  padding: 50px;
  width: 80%;
  border-radius: 20px;
  background: linear-gradient(
    to top right,
    rgb(5, 190, 119),
    rgb(201, 32, 207)
  );
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.5);
  outline: 5px solid rgb(5, 190, 119);
  outline-offset: 10px;
}
.container-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eeeeee;
  padding: 50px;
  width: 80%;
  border-radius: 20px;
  background: linear-gradient(
    to top right,
    rgb(5, 190, 119),
    rgb(201, 32, 207)
  );
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.5);
  text-align: center;
}
h1 {
  color: #eeeeee;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to top right,
    rgb(201, 32, 207),
    rgb(5, 190, 119)
  );
  background-size: cover;
  background-repeat: no-repeat;
}
